/* CSS for the index page */
/* this line is for the height that text line of the web, like spacing on docs*/
/* margin: 10px 12px 10px 12px; margin: top|right|bottom|left;.
also you can do this if the value is the same margin: 10px 12px; margin: top,bottom|right|left. another example is margin: 50px auto; */
/* you can do use this like the margin padding: 10px 12px 10px 12px; or padding: 10px 12px */
* {
    /* border: solid; */
    line-height: 1.5; 
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: Garamond, sans-serif;
}
.main-container {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    background-color: beige;
    border-radius: 10%;
    margin: 5% auto;
    width: 70%;
    
}
.sub-container img {
    max-width: 80%;
    height: auto;
    border: solid green;
}
.sub-container ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    text-decoration: none;
}
.sub-container li{
    margin: 10px;
    text-decoration: none;
}


/* CSS for Recipes */
.recipe-img img {
    width: 200px;
    
}
.recipe-card {
    margin: 20px auto;
    padding: 18px;
    width: 850px;
    /* padding: 20px 0 20px 70px; */
    border: 2px solid black;
    background-color: beige;
    border-radius: 1cm;
}
.recipe-img {
    display: inline-block;
    text-align: center;
    height: 510px;
}
details:hover{
    color: darkgrey;
    width: fit-content;
}
details li:hover{
    color: black;
}
.recipe-img a{
    display: block;
    padding: 10px 0;
    background-color: darkgrey;
    color: white;
    margin: 10px 0;
    border-radius: 1cm;
    text-decoration: none;
}
.recipe-img a:hover {
    background-color: black;
}
.recipe-content {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 20px;
    width: 600px;
}
.recipe-content h1 {
    margin: -9px 0 0 0;
}
