/* CSS for the index page */
* {
    /* border: solid; */
}
body {
    font-family: Garamond, sans-serif;
}
.main-container {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    background-color: beige;
    border-radius: 10%;
    margin: auto;
    width: 50%;
    
}
.sub-container img {
    max-width: 80%;
    height: auto;
    border: solid green;
}
.sub-container ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    text-decoration: none;
}
.sub-container li{
    margin: 10px;
    text-decoration: none;
    
}

/* CSS for Recipes */
.return {
    text-align: center;
    display: block;
    padding: 10px;
    margin:auto;
    width: 50%;
    color: black;
}
.navbar {
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 20px;
}
.center-navbar a{
    margin: 10px;
    color: black;
    background-color: aquamarine;
    border-radius: 10%;
    padding: 10px;
    text-decoration: none;
}
.center-navbar a:hover {
    color: aquamarine;
    background-color: black;
}
.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
}
.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
}

.header, p{
    text-align: center;
}
